/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Fira Sans", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  outline: 0;
  border: 0;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-darkGreen {
  background: #24696E;
  color: #fff;
}

.btn-darkGreen:hover {
  background: #318e94;
}

.btn-transparent {
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  background: rgba(0, 0, 0, 0.2);
}

.bg-blackGreen {
  background: #072227;
  color: #fff;
}

.headerSearch {
  margin: 4px;
  border-radius: 5px;
  overflow: hidden;
  background: #35858B;
}

.headerSearch input {
  background: #35858B;
  color: #072227;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.headerSearch button {
  padding: 5px 8px;
  margin: 0;
  border-radius: 0;
}

.favoriteMenu {
  position: relative;
}

.favoriteList {
  position: absolute;
  top: 36px;
  right: 0;
  background: #072227;
  border-radius: 5px;
  width: 200px;
  z-index: 3;
}

@media (max-width: 500px) {
  .favoriteList {
    right: 0;
  }
}

.favoriteList a {
  padding: 0;
  padding-left: 10px;
  color: #AEFEFF;
}

.favoriteList button {
  padding: 5px;
  margin: 0;
  border-radius: 0;
}

.favoriteBar {
  position: relative;
}

.favoriteBar ul a {
  padding: 0;
  padding-left: 10px;
  color: #AEFEFF;
}

.favoriteBar ul button {
  padding: 5px;
  margin: 0;
  border-radius: 0;
}

.favoriteBar > button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px #072227;
          box-shadow: 0 0 10px #072227;
}

main {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 72px);
}

@media (max-width: 500px) {
  main {
    min-height: calc(100vh - 36px);
  }
}

.mainSearch {
  padding: 4px;
  padding-bottom: 100px;
}

@media (max-width: 500px) {
  .mainSearch {
    padding-bottom: 0px;
  }
}

.mainSearch input {
  width: clamp(220px, 33%, 500px);
  background: #35858B;
  color: #072227;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px 0 5px 10px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
}

.mainSearch button {
  padding: 5px 8px;
  margin: 0;
  font-size: 24px;
}

.logo {
  width: clamp(220px, 33%, 500px);
}

@media (max-width: 500px) {
  .nav-pc {
    display: none;
  }
}

.nav-mb {
  display: none;
}

@media (max-width: 500px) {
  .nav-mb {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */